# From https://apps.twitter.com
twitter:
  app-consumer-key: XXX
  app-consumer-secret: XXX
  user-access-token: XXX
  user-access-token-secret: XXX
# Storage relative to wherever in resources we find this actual config file:
storage: my-storage.bin
